params {
  phewas # 1 {
    minQ = "high"
    }
}


process {
  withName: toolA {
    container = "tolA:0.0.1-rc"
    // Resources
    cpus = "2"
    
    // Error handling
    
    
    // Results
  }
}
process {
  withName: toolB {
    container = "fastqc-slim:5.1.0"
    // Resources
    memory = "10GB"
    time = "1h"
    // Error handling
    errorStrategy = "retry"
    maxRetries = "10"
    // Results
  }
}

